@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 100vw;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 100vw;
  height: 15rem;
}

@layer components {
  @tailwind;

  .navlink {
    @apply flex items-center gap-6 text-grey-600 dark:text-dark-grey-600 font-semibold px-8 py-6 transition-all duration-300 hover:text-grey-800  dark:hover:text-dark-grey-800 text-[1.6rem] hover:bg-grey-50 dark:hover:bg-dark-grey-50 rounded-sm active:text-grey-800 dark:active:text-dark-grey-800 active:bg-grey-50 dark:active:bg-dark-grey-50;
  }

  .navlink svg {
    @apply w-[2.4rem] h-[2.4rem] text-grey-400 dark:text-dark-grey-400 hover:text-brand-600 active:text-brand-600;
  }

  #logout {
    @apply text-red-500;
  }
  .navlink.active {
    @apply text-grey-800 dark:text-dark-grey-800 bg-grey-50 dark:bg-dark-grey-50 rounded-sm;
  }

  .navlink.active svg {
    @apply text-brand-600 hover:text-brand-600 active:text-brand-600;
  }

  .swiper-container {
    @apply w-full col-start-1 col-span-2 mx-auto py-24 px-20 bg-grey-0 dark:bg-dark-grey-0 border border-grey-100 dark:border-dark-grey-100 rounded-lg;
  }

  .swiper-button {
    @apply h-[35px] aspect-square bg-grey-50 cursor-pointer dark:bg-dark-grey-50 rounded-full flex items-center justify-center text-[1.8rem] dark:text-dark-grey-800;
  }

  .swiper-pagination1 > .swiper-pagination-bullet {
    @apply size-0 h-[2px] w-[1.5rem] bg-grey-500 dark:bg-dark-grey-500 rounded-none transition-all duration-300 ease-linear;
  }

  .trailerContainer,
  .playIconContainer {
    svg {
      width: 60px;
    }

    .triangle {
      stroke-dasharray: 240;
      stroke-dashoffset: 480;
      stroke: #fff;
      transform: translateY(0);
      transition: all 0.7s ease-in-out;
    }
    .circle {
      stroke: #fff;
      stroke-dasharray: 650;
      stroke-dashoffset: 1300;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: hsl(0, 100%, 50%);
        animation: trailorPlay 0.7s ease-in-out;
      }
      .circle {
        stroke-dashoffset: 0;
        stroke: hsl(0, 100%, 50%);
      }
    }
  }

  .circleRating {
    .CircularProgressbar-text {
      font-size: 4rem;
      font-weight: 700;
      fill: #fff;
    }
    .CircularProgressbar-trail {
      stroke: transparent;
    }
  }

  .lazy-load-image-background {
    display: block;
    height: 100%;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.7s ease-in-out;
    }
  }

  .thumbnail {
    &:hover {
      .lazy-load-image-background img {
        opacity: 0.5;
      }

      .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: hsl(0, 100%, 50%);
        animation: trailorPlay 0.7s ease-in-out;
      }
      .circle {
        stroke-dashoffset: 0;
        stroke: hsl(0, 100%, 50%);
      }
    }
  }

  .image-container .lazy-load-image-background {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 1rem;
    }
  }

  .spinner {
    border-radius: 100%;
    background:
      radial-gradient(farthest-side, hsl(0, 100%, 50%) 94%, transparent)
        top/10px 10px no-repeat,
      conic-gradient(transparent 30%, hsl(0, 100%, 50%));
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 10px),
      #000 0
    );
    mask: radial-gradient(farthest-side, transparent calc(100% - 10px), #000 0);

    animation: rotate 1.5s infinite linear;
  }
}
