@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 100vw;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 100vw;
  height: 15rem;
}

@layer components {
  @tailwind;

  .navlink {
    @apply flex items-center gap-6 rounded-sm px-8 py-6 text-[1.6rem] font-semibold text-grey-600 transition-all duration-300 hover:bg-grey-50 hover:text-grey-800 active:bg-grey-50 active:text-grey-800 dark:text-dark-grey-600 dark:hover:bg-dark-grey-50 dark:hover:text-dark-grey-800 dark:active:bg-dark-grey-50 dark:active:text-dark-grey-800;
  }

  .navlink svg {
    @apply h-[2.4rem] w-[2.4rem] text-grey-400 hover:text-brand-600 active:text-brand-600 dark:text-dark-grey-400;
  }

  #logout {
    @apply text-red-500;
  }
  .navlink.active {
    @apply rounded-sm bg-grey-50 text-grey-800 dark:bg-dark-grey-50 dark:text-dark-grey-800;
  }

  .navlink.active svg {
    @apply text-brand-600 hover:text-brand-600 active:text-brand-600;
  }

  .swiper-container {
    @apply col-span-2 col-start-1 mx-auto w-full rounded-lg border border-grey-100 bg-grey-0 px-20 py-24 dark:border-dark-grey-100 dark:bg-dark-grey-0;
  }

  .swiper-button {
    @apply flex aspect-square h-[35px] cursor-pointer items-center justify-center rounded-full bg-grey-50 text-[1.8rem] dark:bg-dark-grey-50 dark:text-dark-grey-800;
  }

  .swiper-pagination1 > .swiper-pagination-bullet {
    @apply size-0 h-[2px] w-[1.5rem] rounded-none bg-grey-500 transition-all duration-300 ease-linear dark:bg-dark-grey-500;
  }

  .trailerContainer,
  .playIconContainer {
    svg {
      width: 60px;
    }

    .triangle {
      stroke-dasharray: 240;
      stroke-dashoffset: 480;
      stroke: #fff;
      transform: translateY(0);
      transition: all 0.7s ease-in-out;
    }
    .circle {
      stroke: #fff;
      stroke-dasharray: 650;
      stroke-dashoffset: 1300;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: hsl(0, 100%, 50%);
        animation: trailorPlay 0.7s ease-in-out;
      }
      .circle {
        stroke-dashoffset: 0;
        stroke: hsl(0, 100%, 50%);
      }
    }
  }

  .circleRating {
    .CircularProgressbar-text {
      font-size: 4rem;
      font-weight: 700;
      fill: #fff;
    }
    .CircularProgressbar-trail {
      stroke: transparent;
    }
  }

  .lazy-load-image-background {
    display: block;
    height: 100%;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.7s ease-in-out;
    }
  }

  .thumbnail {
    &:hover {
      .lazy-load-image-background img {
        opacity: 0.5;
      }

      .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: hsl(0, 100%, 50%);
        animation: trailorPlay 0.7s ease-in-out;
      }
      .circle {
        stroke-dashoffset: 0;
        stroke: hsl(0, 100%, 50%);
      }
    }
  }

  .image-container .lazy-load-image-background {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 1rem;
    }
  }

  .spinner {
    border-radius: 100%;
    background:
      radial-gradient(farthest-side, hsl(0, 100%, 50%) 94%, transparent)
        top/10px 10px no-repeat,
      conic-gradient(transparent 30%, hsl(0, 100%, 50%));
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 10px),
      #000 0
    );
    mask: radial-gradient(farthest-side, transparent calc(100% - 10px), #000 0);

    animation: rotate 1.5s infinite linear;
  }
}

.fileInput {
  @apply rounded-sm text-[1.4rem];
}

.fileInput::file-selector-button {
  font: inherit;
  font-weight: 500;
  padding: 1.2rem;
  margin-right: 1.2rem;
  border-radius: 5px;
  border: none;
  color: #eef2ff;
  background-color: theme(colors.brand-500);
  cursor: pointer;
  transition:
    color 0.2s,
    background-color 0.2s;
}

.fileInput::file-selector-button:hover {
  background-color: #4338ca;
}

.loader::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset theme(colors.brand-600);
  animation: squirm 0.75s infinite alternate;
}

@keyframes squirm {
  0% {
    inset: 0 35px 0 0;
  }

  50% {
    inset: 0 0 0 0;
  }

  100% {
    inset: 0 0 0 35px;
  }
}
